/*
  Copyright © James Greenwell, Sean Webber
  Elon University
  September 12th, 2016
*/
*{
  font-family: sans-serif;
}

body{
  margin:2em;
}

h1{
  margin-bottom: 0;
  text-align: center;
}

p:nth-last-child(n+1){
  margin-bottom: 0;
}

p.date{
  padding-top: .15em;
  float:right;
}

header p{
  margin-top: 0;
  text-align: center;
}

h2{
  font-size: 1.1em;
  margin-bottom: 0;
  text-decoration: underline;
}

h3{
  display: inline-block;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

p{
  margin-top: 0;
}

ul{
  margin-top: 0;
}

ul.multiList{
  margin-bottom: 0;
}

#notTrue{
  color:red;
}    

@media screen and (max-device-width: 500px) {
  #reactiveHead{
    visibility: hidden;
  }
  
  #reactiveHead::after {
    content:'';
    display: block;
    visibility: visible;
  }
  
  div.contentBlock{
    display:flex;
    flex-direction: column;
  }
  
  div.contentBlock p{
    order:2;
  }
  
  div.contentBlock p:nth-of-type(n+3), div.contentBlock ul{
    order:4;
  }
  
  div.contentBlock p.date{
    padding-top: 0;
    float: none;
    order: 3;
  }
  
}
