/*
  Copyright © James Greenwell, Sean Webber
  Elon University
  September 12th, 2016
*/
body{
  margin:2em;
}

h1{
  margin-bottom: 0;
  text-align: center;
  
}

header p{
  margin-top: 0;
  text-align: center;
}

span{
  float:right;
}

h2{
  font-size: 1.1em;
  margin-bottom: 0;
  text-decoration: underline;
}

h3{
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

p{
  margin-top: 0;
}

p.subDesc{
  margin-bottom: 0;
}

ul{
  margin-top: 0;
}

ul.multiList{
  margin-bottom: 0;
}

